/* Footer */
section footer {
  border-top: 1px solid var(--faded-grey);
}

footer .nav-link {
  color: white;
}

footer .nav-link:hover, footer .nav-link:focus, footer .nav-link:active {
  color: lightgray;
}